<div class="container">
  <div *ngFor="let post of posts" class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >{{post.title}}</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">{{post.creationDate | date}}</h6>
      <p class="card-text">{{post.content}}</p>

      <div class="row">
        <a href="#" class="card-link col-2 color-square">comment</a>
        <a href="#" class="card-link col">share</a>
      </div>
    </div>
  </div>
</div>
