<div class="container">
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--      <div class="card-header">hea</div>-->
      <div class="card-title row">
        <h5 >title</h5>
      </div>
<!--      <h5 class="card-title">title</h5>-->
      <h6 class="card-subtitle mb-2 text-muted">1 jan 2019</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">comment</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
</div>
